<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Hospital Care</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
        <span class="text-muted">&copy; noName 2022</span>
                <a class="nav-link" href="https://healthcare-bot-6mfiueo3rvbr4.azurewebsites.net/">Smart chat Bot for Suggestion and help</a>
                <a class="nav-link" href="/patients">Patients</a>
                <a class="nav-link" href="/patients/new">New Patients</a>
                <a class="nav-link" href="/test">Check Beds availability</a>
                <a class="nav-link" href="/adminlogin">Login Portal For Admins</a>
            </div>
        </div>
    </div>
</nav>