<% layout('layouts/boilerplate')%>
<div class="card text-white bg-primary col-6 offset-3 mb-3" style="max-width: 50rem;">
    <div class="card-header"></div>
    <div class="card-body">
      <h5 class="card-title">FOR BOOKING APPOINTMENT</h5>
      <p class="card-text">Patient should click on new patient in navigation bar to register themselves!</p>
    </div>
  </div>
  <div class="card text-white bg-success col-6 offset-3 mb-3" style="max-width: 50rem;">
    <div class="card-header"></div>
    <div class="card-body">
      <h5 class="card-title">For Medical adivices and and hospital enquiry</h5>
      <p class="card-text">Patient should click on smart chatboat in navigation bar</p>
    </div>
  </div>
  <div class="card text-white bg-warning col-6 offset-3 mb-3" style="max-width: 50rem;">
    <div class="card-header"></div>
    <div class="card-body">
      <h5 class="card-title">For Admin login</h5>
      <p class="card-text">Only an admin with valid name and password can  login and have acces to delete patient from database   </p>
    </div>
  </div>
  <div class="card text-white bg-secondary col-6 offset-3 mb-3" style="max-width: 50rem;">
    <div class="card-header"></div>
    <div class="card-body">
      <h5 class="card-title">List of registerd patient</h5>
      <p class="card-text">Click on patient in navigation bar to get list of all registerd patient</p>
    </div>
  </div>
  
  <div class="card text-white bg-info col-6 offset-3 mb-3" style="max-width: 50rem;">
    <div class="card-header"></div>
    <div class="card-body">
      <h5 class="card-title">Check bed Availability</h5>
      <p class="card-text">Click on check bed Availability to Check number of beds Available</p>
    </div>
  </div>
  