<% layout('layouts/boilerplate')%>
<h1>
  
</h1>
<div class="col-6 offset-3">
    <div class="card">
      <img class="card-img-top" src="https://source.unsplash.com/collection/483251" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">NO OF Beds Available Currently</h5>
        <p class="card-text">Please register on website to book beds or give a misssed call at +9112345678.You can also use our chatbot feature for medical assistant and more enquiry.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Beds Available:- <%= count %> </small>
      </div>
    </div>
    
  </div>